# My Jupyter Notebook on IBM Watson Studio

**Daniel F. Tovar S.**

Business Analyst

*I am interested in data science because im currently a business analyst with a lot of knowledge in Excel, visual Basic and power B.I. so i want to increase my job scope learning Data Science, also im interesd because i love technology and nowadays its a must to know Data Science including AI.*

*** My code its going to make a multiplication

In [1]:
5*5

25



<h1>there is a lot of types of coffee<h1>

<ul>
  <li>Arabica</li>
  <li>Robusta </li>
  <li>Eugenoides </li>
</ul>  

<h2>also you have a lot of varietals**

<ol>
  <li>Typyca</li>
  <li>Gesha</li>
  <li>Bourbon</li>
</ol> 

**Here an example of different kinds of coffee**

<table>
  <tr>
    <th>Arabica</th>
    <th>Cenephora</th>

  </tr>
  <tr>
    <td>Gesha</td>
    <td>Robusta</td>
   
  </tr>
  <tr>
    <td>Bourbon</td>
    <td>Timor</td>
    
  </tr>
</table>